@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

.about__bubble--tertiary, .about__bubble--secondary, .about__bubble--primary {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
}

.benefits__item--tertiary, .benefits__item--secondary, .benefits__item--primary {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.pricing__card--premium, .pricing__card--professional, .pricing__card--basic {
  border-radius: 10px;
  min-height: 300px;
  margin: 35px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  position: relative;
}
.pricing__card--premium button, .pricing__card--professional button, .pricing__card--basic button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1035px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a,
button {
  text-decoration: none;
}

.logo a {
  color: #08a6e4;
  font-size: 3.6rem;
  font-weight: 300;
}

h2 {
  font-weight: 400;
  text-align: center;
  font-size: 1.9rem;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 40px;
  padding: 20px 70px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.button--primary {
  background-color: #08a6e4;
  box-shadow: 5px 10px 14px #07ace629;
}

.button--secondary {
  background-color: #fb3b64;
}

.button--tertiary {
  background-color: #55dfb4;
}

section {
  padding: 50px 0;
  background-color: white;
}

.header {
  background-color: white;
  width: 100vw;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 2% 5%;
  position: fixed;
  z-index: 2;
}
.header .container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__menu {
  display: flex;
}
.header__logo a {
  font-size: 2rem;
}

.header__hamburger {
  display: block;
  height: 35px;
  width: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.header__hamburger span {
  height: 3px;
  width: 100%;
  background-color: #08a6e4;
  border-radius: 15px;
  transition: 0.3s;
}

.header__menu {
  display: none;
}

.opening {
  width: 100%;
  height: 100vh;
  padding: 0;
}
.opening__content {
  margin-top: calc(50%);
}
.opening__slogan {
  font-size: 2.2rem;
}
.opening__message {
  font-size: 1rem;
  margin: 2rem 0;
}
.opening__img {
  width: 220%;
}
.opening .container {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.about .container {
  margin-top: 2rem;
}
.about__feature {
  width: 100%;
  max-width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}
.about__feature-name {
  letter-spacing: 0.375rem;
  font-size: 1.25rem;
  font-weight: 900;
  margin: 10px 0;
}
.about__bubble--primary {
  background-color: #08a6e4;
}
.about__bubble--secondary {
  background-color: #fb3b64;
}
.about__bubble--tertiary {
  background-color: #55dfb4;
}
.about__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.about__text {
  font-size: 1rem;
  color: #a5a5a5;
}

.benefits {
  background-color: #f7f7f7;
  padding: 0 5%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.benefits__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 15px;
}
.benefits__header {
  text-align: left;
  margin: 10px 0 30px;
  font-size: 1.875rem;
}
.benefits__photo {
  max-width: 200px;
  position: relative;
}
.benefits__message {
  font-size: 0.875rem;
}
.benefits____underline {
  display: none;
}
.benefits__graphic {
  width: 100%;
  max-width: 200px;
  min-height: 200px;
  position: relative;
}

.benefits__item--primary .benefits__decoration {
  position: absolute;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-color: #08a6e4;
  left: 40%;
  top: 70%;
  transform: translate(-50%, -70%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.benefits__item--primary .benefits__photo {
  position: absolute;
  left: 60%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.benefits__item--secondary .benefits__decoration {
  position: absolute;
  border-radius: 40px;
  width: 100px;
  height: 100px;
  background-color: #fb3b64;
  left: 77%;
  top: 50%;
  transform: translate(-50%, -70%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.benefits__item--secondary .benefits__photo {
  position: absolute;
  left: 45%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.benefits__item--tertiary {
  flex-direction: column;
  padding: 0;
  overflow: hidden;
}
.benefits__item--tertiary .benefits__graphic {
  background-color: #55dfb4;
  max-width: 100%;
  width: 100%;
}
.benefits__item--tertiary .benefits__photo {
  position: absolute;
  left: 45%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.pricing__card--basic {
  border: 2px solid #fb3b64;
  width: 90%;
}
.pricing__card--basic p {
  color: #fb3b64;
}
.pricing__card--professional {
  box-shadow: 5px 10px 27px #07ace629;
  border: 2px solid #08a6e4;
  width: 92%;
  min-height: 310px;
}
.pricing__card--professional p {
  color: #08a6e4;
}
.pricing__card--premium {
  border: 2px solid #55dfb4;
  width: 90%;
}
.pricing__card--premium p {
  color: #55dfb4;
}
.pricing__card-type {
  font-size: 1.25rem;
  font-family: "Raleway", sans-serif;
}
.pricing__price {
  font-size: 2.875rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing__price span {
  margin-top: 7px;
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: black;
}
.pricing__content {
  list-style-type: none;
  text-align: left;
}
.pricing__feature {
  font-size: 1.4rem;
  font-size: var(--medium-font-size);
  margin: 1.3rem 0;
}
.pricing__icon {
  margin-right: 5px;
}
.pricing__info {
  display: flex;
  flex-direction: column;
}

.contact .container {
  align-items: flex-start;
}
.contact-info {
  width: 50%;
}
.contact__header {
  font-size: 2.5rem;
  text-align: left;
}
.contact__message {
  font-size: var(--medium-font-size);
  margin: 20px 0 30px;
  font-size: 1rem;
}
.contact__data {
  list-style: none;
  display: flex;
}
.contact__data-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: var(--unactive-color);
  font-size: var(--medium-font-size);
  line-height: 27px;
}
.contact__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}
.contact__icon {
  margin-right: 5px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  width: 40%;
}
.contact__form label {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 3.28px;
  margin: 20px 0;
}
.contact__form input {
  border: 0;
  border-bottom: 2px solid var(--unactive-color);
  width: 100%;
  outline: none;
}
.contact__form input:focus {
  border-color: var(--primary-color);
}
.contact .contact__agreement {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.contact .contact__checkbox {
  margin-right: 10px;
}
.contact .contact__agreement-text {
  font-size: 1.2rem;
  color: var(--unactive-color);
}
.contact .contact__btn {
  color: var(--color-white);
  padding: 15px 80px;
  background-color: var(--primary-color);
  font-weight: 600;
  border: 0;
  outline: none;
  border-radius: 40px;
  align-self: flex-end;
  margin-top: 20px;
  transition: 0.4s;
  cursor: pointer;
}
.contact .contact__btn:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=main.css.map */
