@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
/* Reset CSS */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--unactive-color);
}
.container {
  width: 1352px;
  height: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 3.6rem;
  font-weight: 400;
}

/* Variables */
:root {
  --primary-color: #08a6e4;
  --large-font-size: 3.6rem;
  --unactive-color: #a5a5a5;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --black-color: black;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;
}

/* Header */
.menu-bar {
  width: 100vw;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 1;
  background-color: var(--color-white);
}
.menu-bar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar__logo a {
  color: var(--primary-color);
  font-size: var(--large-font-size);
}
.manu-bar__nav-block {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
}
.manu-bar_item {
  text-transform: uppercase;
  margin: 0 35px;
}
.manu-bar_item:hover a {
  transition: 0.4s;
  color: black;
}
.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/Background.png);
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
}

.main__meassage {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__header {
  font-size: 4.9rem;
}
.main__message-text {
  margin: 20px 0;
  font-size: 1.6rem;
}
.main__button {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 40px;
  box-shadow: 5px 10px 14px var(--color-primary-shadow);
  color: #fff;
  padding: 22px 150px;
  font-size: 1.6rem;
  font-weight: 700;
}
.about {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about__header {
  margin: 100px 0;
}
.about__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 70px;
}
.about__feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.about__bubble {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: relative;
  margin-bottom: 10px;
}
.about__feature:first-child .about__bubble {
  background-color: var(--color-redish);
}
.about__feature:last-child .about__bubble {
  background-color: var(--color-green);
}
.about__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.about__feature-name {
  letter-spacing: 6px;
  font-size: 2.4rem;
  font-weight: 900;
}
.about__text {
  font-size: 1.6rem;
  color: var(--unactive-color);
}
