// colors
$primary-color: #08a6e4;
$secondary-color: #fb3b64;
$tertiary-color: #55dfb4;
$page-color: white;
$page-secondary-color: #f7f7f7;
$contrast-color: black;
$unactive-color: #a5a5a5;
$disting-shadow-color: #07ace629;

// fonts
$primary-font: "Raleway", sans-serif;
$secondary-font: "Open Sans", "Helvetica Neue", sans-serif;
$large-font: 3.6rem;
$medium-font: 1.6rem;
$small-font: 1rem;
$super-bold-font: 800;
$bold-font: 700;
$thin-font: 300;

// other
$hover-transition: 0.4s;
$primary-radius: 40px;
$shadow-color: rgba(7, 172, 230, 0.16);
$section-padding: 50px;
