.contact {
  font-family: $secondary-font;
  padding: 0 2rem;
  @include mq(desktop) {
    padding: 4rem 0;
  }
  .container {
    align-items: flex-start;
    @include mq(desktop) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__header {
    font-size: 2.5rem;
    text-align: left;
    font-family: $primary-font;
    @include mq(desktop) {
      font-size: 3rem;
    }
  }
  &__message {
    margin: 5px 0 30px;
    font-size: 1rem;
    @include mq(desktop) {
      margin: 25px 0 30px;
    }
  }
  &__data {
    list-style: none;
    @include mq(desktop) {
      display: flex;
    }
  }
  &__data-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    color: $unactive-color;
    font-size: 1rem;
    line-height: 1rem;
    @include mq(desktop) {
      margin: 20px 10px;
    }
  }
  &__icon {
    margin-right: 10px;
  }
  &__checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.375rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    @include mq(desktop) {
      width: 40%;
    }
    label {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.7rem;
      letter-spacing: 0.2rem;
      margin: 20px 0;
    }
    input {
      border: 0;
      border-bottom: 2px solid $unactive-color;
      width: 100%;
      outline: none;
    }
    input:focus {
      border-color: $primary-color;
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"] + label:before {
      content: " ";

      background-position: center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      border: 1px solid #95989a;
      border-radius: 4px;
      padding: 6px 12px;

      cursor: pointer;
    }
    input[type="checkbox"]:checked + label:before {
      background-image: url(../../assets/Checkmark.svg);
      background-position: center;
      background-size: 50% 50%;
      background-repeat: no-repeat;
    }
  }
  &__agreement {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__agreement-text {
    font-size: 0.75rem;
    color: $unactive-color;
    margin-left: 15px;
  }
  .button--primary {
    align-self: flex-end;
  }
}
